@font-face {
    font-family: Splatoon1;
    src: url(../fonts/Splatoon1.otf);
}

@font-face {
    font-family: Splatoon2;
    src: url(../fonts/Splatoon2.otf);
}

html {
    cursor: url(../media/Splatoon_Squid_Cursor_Click.gif), auto;

    /* CAMBIAR POR UNA IMAGEN EN OTRO COLOR Y CAMBIAR SU RUTA */
    /* cursor: url(../media/img/Splatoon_Squid_Cursor.png)pointer; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;

}

p{
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
}

body {
    background-color: grey; /* Mantiene el fondo solo en el body */
    display: flex;
    flex-direction: column;
}
.menu-flex{
    list-style-type: none;  
    padding: 0;  
    margin: 0
}

#menu .menu-flex{
    background-color: #272727;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}


a { /*Textos del menu*/
    font-family: Splatoon1;
    color: #ffffff; 
  }
  
  /* Cambiar el color cuando el usuario pasa el ratón sobre el enlace */
 a:hover {
    color: rgb(246, 255, 0);
  }
  

h1 {
    display: flex;
    justify-content: center;
    font-family: Splatoon1;
    color: rgb(255, 255, 255);
    font-size: 80px;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgb(246, 255, 0);
    font-family: Splatoon2;
    font-size: 40px;
}

h3{
    display:flex;
    justify-content: center;
    font-family: Splatoon2;
    font-size: 30px;
    color: rgb(246, 255, 0);
}

#game-text{
    margin-left: 20%;
    margin-right: 20%;
}

div p {
    display: flex;
    justify-content: center;
    
}

/* Estilos para el contenedor del botón */
.button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Asegura que el texto esté por encima de las imágenes */
    font-size: 24px;
    font-family: Splatoon2;
    color: white;
    font-weight: bold;
    pointer-events: none; /* Evita que el texto interfiera con los eventos del botón */
    transition: color 0.3s ease-in-out; /* Agrega una transición para el efecto hover */
}

.button {
    position: relative;
    width: 400px;
    height: 400px;
    cursor: pointer;
    background-color: transparent; /* Asegura que el botón no tenga fondo */
}

.front-image,
.back-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background-color: transparent !important; 
}

/* Imagen de atrás */
.back-image {
    z-index: 1; 
    transform-origin: center;
}

/* Imagen de delante */
.front-image {
    z-index: 2;
}

.button:hover .front-image {
    transform: rotate(-5deg);
}

.button:hover .back-image {
    transform: rotate(5deg);
}


footer{
    display: block;
    background-color: #272727;
    padding: 2rem;
    margin: 0%;
    border: 0%;
}

footer a {
    padding-left:1rem;
    padding-right:1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
}

/* SELECTOR DE ARMAS */
/* .btns-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 12px;
}
.btns-cont button{
    background-color: chocolate;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
} */
.weapons{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 5rem;;

}

.weapons :hover{
    transform: scale(1.1);
}

.weapons .card {
    background-color: rgb(132, 0, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0.8rem;
    margin: 0.8rem;
    width: 300px;
    text-align: center;
    box-shadow: 8px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease; 
}

.weapons h2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Splatoon2;
    font-size: 30px;

    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease; 

}

.weapons h2:hover{
    color: rgb(246, 255, 0);
    font-size: 40px;
    transform: rotate(-5deg);
    
}



/* -------------------- */

.selected {
    background-color: rgb(255, 100, 100) !important; /* Fuerza el color de fondo */
    border-color: yellow !important; /* Fuerza el color del borde */
    transform: scale(1.1);
}
