@font-face {
    font-family: Splatoon1;
    src: url(../fonts/Splatoon1.otf);
}

@font-face {
    font-family: Splatoon2;
    src: url(../fonts/Splatoon2.otf);
}

html {
    cursor: url(media\img\cursor_img.png), auto;  /* Cambia 'ruta/a/tu/sprite.png' por la ruta de tu imagen */
}

*{
    background-color: grey;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header h1{
    display: flex;
    justify-content: center;
    font-family: Splatoon1;
    color: rgb(255, 255, 255);
    font-size: 80px;
    padding: 0;
}

header h2{
    display: flex;
    justify-content: center;
    color: rgb(246, 255, 0);
    font-family: Splatoon2;
    font-size: 40px;
    
}

div p{
    display: flex;
    justify-content: center;
}